@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root {
    --green: #27ae60;
    --dark-color: #219150;
    --black: #444;
    --light-color: #666;
    --border: .1rem solid rgba(0, 0, 0, .1);
    --border-hover: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Poppins', sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
}

html {
    font-size: 62.5%;
    /* overflow: hidden; */
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

@media (max-width: 767px) {
    .header .header-2 {
        display: none;
    }
    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }
    .header .header-1 .search-form {
        position: absolute;
        top: 115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .header .header-1 {
        padding: 2rem;
    }
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--black);
}

section {
    padding: 5rem 9%;
}

.heading {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .1rem;
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background-color: #fff;
    border: var(--border);
}

/* Start Header */

.header .header-1 {
    background-color: #fff;
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header .header-1 {
        padding: 2rem;
    }
    section {
        padding: 3rem 2rem;
    }
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--green);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border: var(--border);
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

@media (max-width: 767px) {
    .header .header-1 .search-form {
        width: 5rem;
    }
    .header .header-1 .search-form.openSearch {
        width: 54rem;
    }
}

@media (max-width: 500px) {
    .header .header-1 .search-form.openSearch {
        width: 30rem;
    }
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding: 0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

@media (max-width: 767px) {
    .header .header-1 .search-form label {
        margin-left: -10px;
    }
}

.header .header-1 .search-form label:hover {
    color: var(--green);
}

.header .header-1 .icons div, .header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
    position: relative;
}

.header .header-1 .icons div:hover, .header .header-1 .icons a:hover {
    color: var(--green);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background-color: var(--green);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background-color: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.bottom-navbar {
    text-align: center;
    background-color: var(--green);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

@media (max-width: 768px) {
    html {
        scroll-padding-top: 0;
    }
    .bottom-navbar {
        display: block;
    }
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

/* End Header */

/* Start Form */

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container small {
    font-size: 12px;
    display: none;
}

.login-form-container .userName-label.error {
    color: #f00;
}

.login-form-container #username.error {
    border-color: #f00;
}

#error.error {
    display: block;
    color: #f00;
}

.login-form-container .userName-label.success {
    color: #27ae60;
}

.login-form-container #username.success {
    border-color: #27ae60;
}

#success.success {
    display: block;
    color: #27ae60;
}

.password-label.error {
    color: #f00;
}

#password.error {
    border-color: #f00;
}

#error-pass.error {
    display: block;
    color: #f00;
}

.password-label.success {
    color: #27ae60;
}

#password.success {
    border-color: #27ae60;
}

#success-pass.success {
    display: block;
    color: #27ae60;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--black);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--green);
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background: var(--dark-color);
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--black);
    cursor: pointer;
}

/* End Form */

/*  Start Home  */

.home {
    background: url(../image/banner-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow: hidden;
}

.home .row .content {
    flex: 1 1 42rem;
    margin-top: 20px;
}

.home .row .content h3 {
    color: var(--black);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .home .row .content {
        text-align: center;
    }
    .home .row .content h3 {
        font-size: 3.5rem;
    }
}

.home .row .content {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}

.home .row .books-slider {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
}

.home .row .books-slider #arrow-left1, .home .row .books-slider #arrow-right1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    cursor: pointer;
    z-index: 9;
}

.home .row .books-slider #arrow-left1:hover, .home .row .books-slider #arrow-right1:hover {
    color: var(--green);
}

.home .row .books-slider #arrow-left1 {
    left: 0;
}

.home .row .books-slider #arrow-right1 {
    right: 0px;
}

.home .row .books-slider a img {
    height: 25rem;
}

.home .row .books-slider a:hover img {
    transform: scale(.9);
}

.home .row .books-slider .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .swiper-wrapper {
    display: flex;
    /* overflow: hidden; */
}

/*  End Home  */

/* Start Icons */

.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--green);
}

.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}

/* End Icons */

/* Start Featured */

.featured .featured-slider {
    position: relative;
}

.featured .featured-slider #arrow-left, .featured .featured-slider #arrow-right {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    cursor: pointer;
}

.featured .featured-slider #arrow-left:hover, .featured .featured-slider #arrow-right:hover {
    color: #27ae60;
}

.featured .featured-slider #arrow-right {
    right: 0px;
}

.featured .featured-slider #arrow-left {
    left: -10px;
}

.featured .featured-slider .box {
    width: 25rem;
    margin: 1rem;
    position: relative;
    border: var(--border);
    text-align: center;
}

.featured .featured-slider .box.active {
    transform: translateX(20rem);
}

.featured .swiper-wrapper {
    margin: 8rem 0;
    display: flex;
    overflow: hidden;
}

.featured .featured-slider .box:hover {
    border: var(--border-hover);
}

.featured .featured-slider .box .image {
    padding: 1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box .image img {
    height: 25rem;
}

.featured .featured-slider .box:hover .image {
    transform: translateY(6rem);
}

.featured .featured-slider .box .icon {
    border-bottom: var(--border-hover);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-100%);
}

.featured .featured-slider .box:hover .icon {
    transform: translateY(0%);
}

.featured .featured-slider .box .icon a {
    color: var(--black);
    font-size: 2.2rem;
    padding: 1.3rem 1.5rem;
}

.featured .featured-slider .box .icon a:hover {
    background: var(--green);
    color: #fff;
}

.featured .featured-slider .box .content {
    background: #eee;
    padding: 1.5rem;
}

.featured .featured-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.featured .featured-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

/* End Featured */

/* Start News letter */

.newsletter {
    background: url(../image/letter-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media (max-width: 767px) {
    .newsletter {
        background-position: left;
    }
}

.newsletter form {
    max-width: 45rem;
    margin: auto;
    text-align: center;
    padding: 5rem 0;
}

@media (max-width: 767px) {
    .newsletter form {
        margin-left: 0;
        max-width: 100%;
    }
}

.newsletter form h3 {
    font-size: 2.2rem;
    color: #fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}

/* End News letter */

/* Start Arrivals  */

.arrivals {
    position: relative;
}

.arrivals .arrivals-slider .box {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 4rem;
    border: var(--border);
    margin: 1rem 0;
}

.arrivals .arrivals-slider {
    overflow: hidden;
}

.arrivals .arrivals-slider .wraper {
    display: flex;
}

@media (max-width: 767px) {
    .arrivals .arrivals-slider .wraper {
        grid-template-columns: repeat(1, 1fr);
    }
}

.arrivals .arrivals-slider .box .image img {
    height: 15rem;
}

.arrivals .arrivals-slider .box:hover {
    border: var(--border-hover);
}

.arrivals .arrivals-slider .box .content h3 {
    font-size: 2rem;
    color: var(--black);
}

.arrivals .arrivals-slider .box .content .price {
    font-size: 2.2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.arrivals .arrivals-slider .box .content .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.arrivals .arrivals-slider .box .content .start i {
    font-size: 1.5rem;
    color: var(--green);
}

.arrivals #arrow-left2, .arrivals #arrow-right2 {
    font-size: 34px;
    position: absolute;
    cursor: pointer;
    transform: translateX();
}

.arrivals #arrow-left2:hover, .arrivals #arrow-right2:hover {
    color: var(--green);
}

.arrivals #arrow-left2 {
    left: 4rem;
}

.arrivals #arrow-right2 {
    right: 4rem;
}

/* End Arrivals  */

/* Start Deal */

.deal {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
}

.deal .content {
    flex: 1 1 42rem;
}

.deal .content h3 {
    color: var(--green);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 4rem;
}

.deal .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.deal .image {
    flex: 1 1 42rem;
}

.deal .image img {
    width: 100%;
}

/* End Deal */

/* Start Review */

.review {
    position: relative;
}

.review #arrow-left3, .review #arrow-right3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    cursor: pointer;
}

.review #arrow-left3:hover, .review #arrow-right3:hover {
    color: var(--green);
}

.review #arrow-left3 {
    left: 0;
}

.review #arrow-right3 {
    right: 0;
}

.review .reviews-slider {
    display: flex;
    overflow: hidden;
}

.review .reviews-slider .wrap {
    display: flex;
}

.review .reviews-slider .box {
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
}

.review .reviews-slider .box:hover {
    border: var(--border-hover);
}

.review .reviews-slider .box img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .reviews-slider .box h3 {
    color: var(--black);
    font-size: 2.2rem;
    padding: 5rem 0;
}

.review .reviews-slider .box p {
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.review .reviews-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}

/* End Review */

/* Start Blogs */

.blogs {
    position: relative;
}

.blogs .blogs-slider {
    overflow: hidden;
}

.blogs .wrapper {
    display: flex;
    width: 150%;
}

.blogs .blogs-slider .box {
    margin: 2rem 0;
    border: var(--border);
}

.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content {
    padding: 1.5rem;
}

.blogs .blogs-slider .box .content h3 {
    font-size: 2.2rem;
    color: var(--border);
    padding-bottom: .5rem;
}

.blogs .blogs-slider .box .content p {
    font-size: 1.4rem;
    color: var(--light-color);
}

.blogs #arrow-left4, .blogs #arrow-right4 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    cursor: pointer;
}

.blogs #arrow-left4:hover, .blogs #arrow-right4:hover {
    color: var(--green);
}

.blogs #arrow-left4 {
    left: 0;
}

.blogs #arrow-right4 {
    right: 0;
}

/* End Blogs */

/* Start Footer */

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box .map {
    width: 100%;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: #fff;
    background-color: var(--green);
    margin: 0 0.3rem;
}

.footer .share a:hover {
    background: var(--black);
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--green);
}

/* End Footer */

/* Start Loader */

.loader-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}

/* End Loader */
